<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="row">
        <div class="col-md-3">
            <a th:href="register" class="btn btn-primary btn-lg btn-block btn-huge">Wejœcie</a>
        </div>
        <div class="col-md-3">
            <a th:href="visitor-out" class="btn btn-primary btn-lg btn-block btn-huge">Wyjœcie</a>
        </div>
	</div>
</div>
</body>
</html>