<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>!! -=Hello Spring Security=- !!</h1>
    <p>Strona dostêpna dla wszystkich. Po zalogowaniu, mo¿na dostaæ siê do reszty :)</p>
    <ul>
        <li>Nawiguj do: <a href="/secured" th:href="@{/secured}">secured pages</a></li>
    </ul>
</div>
</body>
</html>