<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Recepcja</title>
    <script th:inline="javascript">
	/*<![CDATA[*/

    	var flag = [[${registered}]]; // sprawdzenie zmiennej przekazanej przez kontroler
    	window.onload = function() {
        	if(!flag)
            	return; // je¿eli zmienna siê nie zgadza - nic nie rób
        	redirect(); // je¿eli zmienna siê zgadza - wywo³aj funkcjê od przekierowania
    	};

	/*]]>*/
	</script>
    <script type="text/javascript">
		function redirect() {
 			var count = 5; // czas do przekierowania w sekundach
 			setInterval(function() { // pêtla odejmuje do 0
  				if (count == 0) {
   					window.location = '/'; // przekierowanie gdy counter dojdzie do 0
  				}
  				count--;
 			},1000); // iteracja co 1000ms (1s)
		}
	</script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="row">
           <div class="col-md-6 col-md-offset-3">
		<form th:action="@{/saveVisitor}" th:object = "${Visitor}" autocomplete="off" method="post">
			<div th:if="${registered}==null">
				<h1>Witamy!</h1>
				<h2>Zarejestruj wejœcie</h2>
			</div>
			<div th:if="${param.error}">
				<div class="alert alert-danger">
					Nale¿y wype³niæ wszystkie pola.
				</div>
			</div>
			<div th:if="${registered}">
				<div class="alert alert-info">
                        		Pobierz identyfikator <font size=20><b><span th:text="${ticket}" /></b></font>
					<font size=1></font>
                               </div>
			</div>

			<div th:if="${registered}==null">
				<div class="form-group">
					<label for="name">Imiê i nazwisko:</label>:
					<input type="text"
					   required="required"
					   id="name"
					   name="name"
					   class="form-control"
					   autofocus="autofocus"
					   placeholder="Imiê i nazwisko...">
				</div>
				<div class="form-group">
					<label for="company">Firma:</label>:
					<input type="text"
					   id="company"
					   name="company"
					   class="form-control"
					   autofocus="autofocus"
					   placeholder="Firma...">
				</div>
				<div class="form-group">
            	           		<div class="row">
                	      			<div class="col-sm-6 col-sm-offset-3">
							<input type="submit"
					 		   name="register-submit"
							   id="register-submit"
							   class="form-control btn btn-info"
							   value="Zarejestruj wejœcie">
                              			</div>
                           		</div>
                        	</div>
	                </div>
		</form>
           </div>
	</div>
</div>
</body>
</html>