<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
                &copy; Projektowanie Systemów Informatycznych
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Zalogowany u¿ytkownik: <span sec:authentication="name"></span> |
                    Role: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Wyloguj</a>
                </span>
            </p>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</th:block>
</body>
</html>