<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span> 
      			</button>
                <a class="navbar-brand" th:href="@{/}">
                    <!-- <img th:src="@{/img/logo.png}" alt="nie ma obrazka"/> -->
                	Recepcja
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
        				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        				<span class="caret"></span></a>
        				<ul class="dropdown-menu">
          					<li><a th:href="@{/secured/visitors-view}">Lista odwiedzin</a></li>
          					<li><a th:href="@{/secured/visitors-view}">Lista identyfikatorów</a></li>
          					<li><a th:href="@{/secured/visitors-sign-up}">Zarejestruj odwiedzaj¹cego</a></li>
          					<li><a th:href="@{/secured/signed-up-view}">Lista zarejestrowanych</a></li>
        				</ul>
      				</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
      				<li sec:authorize="hasRole('ADMIN')">
      					<a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span></a>
      				</li>
      				<li sec:authorize="isAnonymous()">
      					<a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span></a>
      				</li>
    			</ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>